@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center;">
    <h2>Employee panel - welcome page</h2>
    <h2>Employee panel - welcome page</h2>
    <h2>Employee panel - welcome page</h2>
    <h2>Employee panel - welcome page</h2>
    <h2>Employee panel - welcome page</h2>
    <h2>Employee panel - welcome page</h2>
    <h2>Employee panel - welcome page</h2>
</div>