@model Application

@{
    ViewData["Title"] = "Application Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="h-100 register-form-bg p-3 mx-3" style="border-radius:1rem;">
    <div class="container  h-100  py-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration  register-form-bg2" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            @*https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp*@
                            <img src="https://images.pexels.com/photos/3205071/pexels-photo-3205071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                 class="img-fluid"
                                 style="border-radius: 1rem;" />
                        </div>
                        <div class="col-xl-6 register-form-bg2" style="border-radius: 1rem;">
                            <div class="card-body p-md-4 text-black">
                                <h4 class="m-2 text-uppercase font-h3 ">Student application form</h4>

                                <form asp-action="Index" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="mb-2">
                                        <div class="form-outline">
                                            <label asp-for="FullName" class="form-label label-font">Full Name</label>
                                            <input asp-for="FullName" type="text" class="form-control form-border-radius" />
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="form-outline">
                                            <label asp-for="BirthDate" class="control-label label-font">Birth Date</label>
                                            <input asp-for="BirthDate" class="form-control form-border-radius" />
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="form-outline">
                                            <label asp-for="PersonalNumber" class="control-label label-font">Personal Number</label>
                                            <input asp-for="PersonalNumber" class="form-control form-border-radius" />
                                            <span asp-validation-for="PersonalNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-outline">
                                                <label asp-for="LegalGuardian" class="control-label label-font">Legal Guardian</label>
                                                <input asp-for="LegalGuardian" class="form-control form-border-radius" />
                                                <span asp-validation-for="LegalGuardian" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-outline">
                                                <label asp-for="ContactNumber" class="control-label label-font">Contact Number</label>
                                                <input asp-for="ContactNumber" class="form-control form-border-radius" />
                                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-outline">
                                                <label asp-for="LegalGuardianOcupation" class="control-label label-font">Legal Guardian Occupation</label>
                                                <input asp-for="LegalGuardianOcupation" class="form-control form-border-radius" />
                                                <span asp-validation-for="LegalGuardianOcupation" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-outline">
                                                <label asp-for="City" class="control-label label-font">City</label>
                                                <select asp-for="City" class="form-control form-border-radius">
                                                    <option value=" ">Choose a City</option>
                                                    <option value="Ferizaj">Ferizaj</option>
                                                    <option value="Gjakove">Gjakove</option>
                                                    <option value="Gjilan">Gjilan</option>
                                                    <option value="Mitrovice">Mitrovice</option>
                                                    <option value="Peje">Peje</option>
                                                    <option value="Prishtine">Prishtine</option>
                                                    <option value="Prizren">Prizren</option>

                                                </select>
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-outline">
                                                <label asp-for="Gender" class="control-label label-font">Student Gender</label>
                                                <div class="form-group d-flex offset-1">
                                                    <div class="mr-5">
                                                        <input class="form-check-input " type="radio" asp-for="Gender" value="M"><p id="input-male">Male</p>
                                                    </div>

                                                    <div>
                                                        <input class="form-check-input " type="radio" asp-for="Gender" value="F"><p id="input-female">Female</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-outline">
                                                <label asp-for="Offer" class="control-label label-font"></label>
                                                <select asp-for="Offer" class="form-control form-border-radius">
                                                    <option value=" ">Choose an Offer</option>
                                                    <option value="Monthly Plan">Monthly Plan</option>
                                                    <option value="Quarterly Plan">Quarterly Plan</option>
                                                    <option value="Year Plan">Year Plan</option>
                                                </select>
                                                <span asp-validation-for="Offer" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Image" class="control-label label-font">Student Picture</label>
                                        <input asp-for="ImageUpload" class="form-control " /> <hr />
                                        <img src="" id="imgpreview" class="pt-2" />
                                        <span asp-validation-for="ImageUpload" class="text-danger"></span>
                                    </div>
                                    <div class="form-group ">
                                        <input type="submit" value="Create" class="btn btn-success font-weight-bold text-black " />
                                        <a class="btn btn-secondary ml-3 font-weight-bold text-black" href="javascript:history.go(-1)">Go Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
}