@model Kindergarten_Management_System.Models.LeaveTypeVM

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="~/css/funside.css" />

<section class="mx-5 leave-bg" style="border-radius:1rem;">
    <div class="container p-1  ">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-xl-12 ">
                <div class="card" style="border-radius: 1rem; background-color:#F6FFD6 ; ">
                    <div class="col-md-12 text-center pt-5">
                        <h4 class="title">
                            <span class="title-word title-word-1">Edit</span>
                            <span class="title-word title-word-2">Leave Type</span>
                        </h4>
                    </div>
                    <hr>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-10">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="DateCreated" />
                                <div class="form-group p-3">
                                    <label asp-for="Name" class="control-label darkGreen pl-3"> Name</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group p-3">
                                    <label asp-for="DefaultDays" class="control-label darkGreen pl-3 "> Default Days</label>
                                    <input asp-for="DefaultDays" class="form-control" />
                                    <span asp-validation-for="DefaultDays" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <input type="submit" value=" Edit " class="btn btn-success my-3 p-2 mr-2" />
                                    <a class="btn btn-secondary my-3 p-2 " asp-action="Index">Go Back<i class="fa-solid fa-circle-arrow-left pl-2"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
