@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center;">
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
    <h1>welcome page of student panel</h1>
</div>