@model Kindergarten_Management_System.Models.Briefing

@{
    ViewData["Title"] = "Details Briefing";
}

<h1>Details Briefing</h1>

<div class="card my-5">
  <div class="card-header d-flex justify-content-center">
    @Model.Title
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>@Html.Raw(Model.Content)</p>
      <hr />
      <div class="d-flex">
          <div style="width:50%;" class="d-flex">
              <footer class="blockquote-footer mr-2 mt-2">Date: <cite title="Source Title">@Model.Order.Day/@Model.Order.Month/@Model.Order.Year</cite></footer>
          </div>
          <div style="width:50%;" class="d-flex justify-content-end">
              <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
          </div>
          
      </div>
    </blockquote>
  </div>
</div>
