@model IEnumerable<Briefing>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
@foreach (var item in Model)
{
  <div class="col-sm-6 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-center">@item.Title</h5>
        <br/><hr/>
        <div class="d-flex justify-content-center">
            <a asp-action="Details" asp-route-id="@item.BriefingId" class="btn btn-outline-primary">View more</a>
        </div>
      </div>
      <div class="card-footer text-muted d-flex justify-content-end">
        @item.Order.Day/@item.Order.Month/@item.Order.Year
      </div>
    </div>
  </div>

}

</div>
