@model Contact
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container3">
    <div class="carousel">
        <div class="carousel__face"><span>This is something</span></div>
        <div class="carousel__face"><span>Very special</span></div>
        <div class="carousel__face"><span>Special is the key</span></div>
        <div class="carousel__face"><span>For you</span></div>
        <div class="carousel__face"><span>Just give it</span></div>
        <div class="carousel__face"><span>A try</span></div>
        <div class="carousel__face"><span>And see</span></div>
        <div class="carousel__face"><span>How IT Works</span></div>
        <div class="carousel__face"><span>Woow</span></div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="margin-top: 15%;">
    <h3 style="text-align: center;">KINDERGARTEN</h3>
    <br />
    <p style="text-align: center;">
        Kindergarten Management System is built primarly to help parents by helping their kids. Kindergarten Management Software offers a range of services such as registering your kids to kindergarten, being able to see their homework and also offering your children a safe fun space for them to use on their spare time.     
        The system's main focus is the wellbeing of the kids and helps them by offering the easiest way to kindergarten.
    </p>
</div>
<!--/ Contact-->
<section id="contact">
    <div class="contact1">
        <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
                <img src="~/try/images/img-01.png" alt="IMG">
            </div>

            <form class="contact1-form validate-form" asp-action="Index">
                <span class="contact1-form-title">
                    Get in touch
                </span>

                <div class="wrap-input1 validate-input" data-validate="Name is required">
                    <input asp-for="FullName" class="input1" type="text" name="FullName" placeholder="Name">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input asp-for="Email" class="input1" type="text" name="email" placeholder="Email">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Subject is required">
                    <input asp-for="Subject" class="input1" type="text" name="subject" placeholder="Subject">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Message is required">
                    <textarea asp-for="Message" class="input1" name="message" placeholder="Message"></textarea>
                    <span class="shadow-input1"></span>
                </div>

                <div class="container-contact1-form-btn d-flex">
                        <span>
                            <input type="submit" value="Send" class="contact1-form-btn" />
                        </span>
                </div>

            </form>
        </div>
    </div>
</section>
<!--/contact-->
<!--Pricing-->
<section id="pricing" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Our Pricing</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
                <br />
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="price-table">
                    <!-- Plan  -->
                    <div class="pricing-head">
                        <h4>3 Months Plan</h4>
                        <br />
                        <p>For every student that decides to pay for three months at once the Kindergarten Managment will ofer a 5% discount.</p>
                        <span class="fa fa-usd curency"></span> <span class="amount" style="color: dimgrey;">$ 50</span>
                    </div>

                    <!-- Plean Detail -->
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg green btn-block">PURCHACE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="price-table">
                    <!-- Plan  -->
                    <div class="pricing-head">
                        <h4>6 Months Plan</h4>
                        <br />
                        <p>For every student that decides to pay for six months at once the Kindergarten Managment will ofer a 15% discount.</p>
                        <span class="fa fa-usd curency"></span> <span class="amount" style="color: dimgrey;">$ 80</span>
                    </div>

                    <!-- Plean Detail -->
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg yellow btn-block">PURCHACE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="price-table">
                    <!-- Plan  -->
                    <div class="pricing-head">
                        <h4>1 Year Plan</h4>
                        <br />
                        <p>For every student that decides to pay for Twelve months at once the Kindergarten Managment will ofer a 35% discount.</p>
                        <span class="fa fa-usd curency"></span> <span class="amount"style="color: dimgrey;">$ 100</span>
                    </div>

                    <!-- Plean Detail -->
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block">PURCHACE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Pricing-->